.wrapper {
    width: 1000px;
    margin: auto;
    position: relative;
}

.wrapper:hover{
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
    cursor : -o-grab;
    cursor : -moz-grab;
}
.wrapper.grabbing {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    cursor : -o-grabbing;
    cursor : -moz-grabbing;
}

.frame {
    position: absolute;
}

.dog {
    width: 85px;
    top: 580px;
    left: 310px;
}

.frame-colored {
    border: 2px solid red;
}

img {
    height: 100%;
    width: 100%;
}